
@function relative_left_value($width) {
  @return (100% - $width) / 2;
}

@mixin positionCenter($width:95%) {
  width:$width;
  left:relative_left_value($width);
}

@mixin enable-hardware-acceleration {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

/*
Just a normal circle feedback animation
Not used currently
@-webkit-keyframes circleFeedback 
{
  0%  {
  	margin-left: 50px;
	opacity: 0;
	top: 19px;
	width: 2px;
    height: 2px;
  }
  10% {
  	opacity: 1;
  }
  100% {
  	margin-left: 0px;
	opacity: 1;
	top: -20px;
	width: 100px;
    height: 100px;
  }
}*/

/* Ripple circle feedback for adjusters
 * Reference: http://codepen.io/daless14/pen/ELFgj
 */
@-webkit-keyframes circleFeedback 
{
 0%  {
   box-shadow:0 0 0 0 transparent,
              0 0 0 0 transparent,
              0 0 0 0 transparent,
              0 0 0 0 transparent;
 }
 5%  {
   box-shadow:0 0 0 0 #fafafa,
              0 0 0 0 rgba(255,255,255,0.5),
              0 0 0 0 #fafafa,
              0 0 0 0 rgba(60,199,222,0.6);
 }
 100% {
   box-shadow:0 0 40px 40px #fafafa,
              0 0 10px 50px transparent,
              0 0 30px 60px #fafafa,
              0 0 5px 70px transparent;
 }
}

/* Help animation keyframes for different positions 
 * In these animation classes all the properties are purposefully repeated 
 * to avoid problems in lower versions of android(2.3 tested example)
 */
@-webkit-keyframes autoSlideSwing 
{
  0%  {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: -37px 0px;
  	left: 135px;
  	width: 20px;
  }
  5% {
  	background-position: -37px 0px;
  	left: 135px;
  	width: 20px;
  }
  25% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: -37px 0px;
  	left: 135px;
  	width: 20px;
  }
  27% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-size: 70px 25px;
  	background-position: -35px 0px;
    left: 135px;
  	width: 20px;
  }
  30% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-size: 70px 25px;
  	background-position: -35px 0px;
    left: 135px;
  	width: 20px;
  }
  32% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-size: 70px 25px;
  	background-position: -35px 0px;
    left: 135px;
  	width: 20px;
  }
  35% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: -37px 0px;
    left: 135px;
  	width: 45px;
  }
  50% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: -37px 0px;
  	left: 135px;
  	width: 45px;
  }
  55% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: 28px 0px;
  	left: -35px;
  	width: 48px;
  }
  75% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: 28px 0px;
  	left: -35px;
  	width: 48px;
  }
  77% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-size: 70px 25px;
    background-position: 28px 0px;
    left: -35px;
  	width: 48px;
  }
  80% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-size: 70px 25px;
    background-position: 28px 0px;
    left: -35px;
  	width: 48px;
  }
  82% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-size: 70px 25px;
    background-position: 28px 0px;
    left: -35px;
  	width: 48px;
  }
  85% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
    background-position: 28px 0px;
    left: -35px;
  	width: 63px;
  }
  100% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-size: 75px 27px;
  	background-position: 28px 0px;
  	left: -35px;
    width: 63px;
  }
}

@-webkit-keyframes autoSlideRight
{
  0%  {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-position: -37px 0px;
    background-size: 75px 27px;
  	width: 20px;
  }
  50% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-position: -37px 0px;
    background-size: 75px 27px;
  }
  54% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-position: -35px 0px;
    background-size: 70px 25px;
  }
  64% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
  	background-position: -35px 0px;
    background-size: 70px 25px;
  }
  70% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-position: -37px 0px;
    background-size: 75px 27px;
  	width: 20px;
  }
  73% {
    background-image: url(../images/slider_adjusters_help_hand.png);
    background-position: -37px 0px;
    background-size: 75px 27px;
  	width: 45px;
  }
  100% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-position: -37px 0px;
    background-size: 75px 27px;
  	width: 45px;
  }
}

@-webkit-keyframes autoSlideLeft
{
  0%  {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-position: 28px 0px;
    background-size: 75px 27px;
  	width: 48px;
  }
  50% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
    background-position: 28px 0px;
  	background-size: 75px 27px;
    width: 48px;
  }
  54% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
    background-position: 28px 0px;
  	background-size: 70px 25px;
    width: 48px; 	
  }
  64% {
  	background-image: url(../images/slider_adjusters_help_hand_touched.png);
    background-position: 28px 0px;
  	background-size: 70px 25px;
    width: 48px;
  }
  70% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
    background-position: 28px 0px;
  	background-size: 75px 27px;
  	width: 48px;
  }
  73% {
    background-image: url(../images/slider_adjusters_help_hand.png);
    background-position: 28px 0px;
    background-size: 75px 27px;
  	width: 63px;
  }
  100% {
  	background-image: url(../images/slider_adjusters_help_hand.png);
  	background-position: 28px 0px;
    background-size: 75px 27px;
  	width: 63px;
  }
}


/* General styles */
.Slider * {
	-webkit-user-select:none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.element-shown {
	display: block !important;
}

.element-hidden {
	display: none !important;
}

.slider-container {
	margin: 0px 5px 10px 5px;
	overflow: hidden;
}

.slider-path-container {
	@include enable-hardware-acceleration;
	background-color: transparent;
	position: relative;
	height: 50px;
	@include positionCenter(96%);
}

.slider-path {
	@include enable-hardware-acceleration;
	background: #d0d0d0;
	background-image: -webkit-linear-gradient( #D0D0D0,#DFDFDF );
	background-image: linear-gradient( #D0D0D0,#DFDFDF );
	position: absolute;
	@include positionCenter();
	
	/* Media based*/
	top: 15px;
	height: 8px;
	border-radius: 8px;

	/* Styles for various options*/
	&.no-highlight {
		.slider-stops-container {
			.slider-stops {
				background-image: url(../images/slider_stops.png);
				&.stop-dashes {
					background-image: url(../images/slider_stops_dashes.png);
				}
			}
		}
		.slider-color-filler {
			opacity: 0;
		}
	}
	&.likert-with-label {
		.slider-value-indicator {
			display: none;
		}
		.adjuster-help {
			/* Media based*/
			top: -42px;
		}
	}
	&.show-min-max-labels {
		.slider-min-max-container {
			display: block;
		}
	}
}

.slider-handle {
	@include enable-hardware-acceleration;
	background-image: url(../images/handle.png);
	/*background-image: url(../images/handle_untouched.png);*/
	background-repeat: no-repeat;
	/* Media based*/
	background-size: 30px;
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left:-15px;
	/* Media based*/
	top: -11px;
	/*&.touched {
		background-image: url(../images/handle.png);
	}*/
}

.slider-value {
	@include enable-hardware-acceleration;
	background-color:#3CC7DE;
	border: 1px solid #3CC7DE;
	border-radius:3px;
	color:white;
	text-align: center;
	line-height: 1.5em;
	width: 50px;
	position: relative;
	left: -10px;
  &.slider-value-touched {
    background-color: rgb(50,180,212);
    border: 1px solid rgb(50,180,212);
  }
}

.slider-value-indicator {
	@include enable-hardware-acceleration;
	position: relative;

	/* Media based*/
	top: -45px;
}

.slider-adjusters{
	@include enable-hardware-acceleration;
	position: relative;
	top: -8px;
	left: -7.5%;
	width: 115%;
	height: 40px;
	&.area-visible {
		background: rgba(60,199,222,0.2);
	}

	.adjuster-corners {
		z-index: 1;
		position: absolute;
		width: 25%;
		height: 100%;
		&.left-corner {
			left: 0;
		}
		&.right-corner {
			right: 0;
		}
	}

	.feedback-circle {
		@include enable-hardware-acceleration;
		-webkit-animation:circleFeedback 0.5s linear;
		-moz-animation:circleFeedback 0.5s linear;
		background: transparent;
		border: none;
		border-radius:100px;
		margin-left: 50px;
		display:none;
		position: absolute;
		top: 19px; /* Based on the height of the slider-adjuster*/
		width:2px;
		height:2px;
	}
}

.slider-value-arrow-svg {
	@include enable-hardware-acceleration;
	position: absolute;
	left: -37px;
	top: 100%;
	width: 124px;
	height: 15px;
}

.slider-value-arrow {
	@include enable-hardware-acceleration;
	background: transparent;
	border-top: 10px solid #3CC7DE;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 0;
	position: absolute;
	top: 100%;
	left: 17px;
	width: 0;
	height: 0;
	&.arrow-left-pointed {
		border-top: 0;
		border-right: 13px solid transparent;
		border-left: 14px solid #3cc7de;
		border-bottom: 12px solid transparent;
	}
	&.arrow-right-pointed {
		border-top: 0;
		border-right: 14px solid #3cc7de;
		border-left: 0px solid transparent;
		border-bottom: 12px solid transparent;
	}
}

.adjuster-help {
	@include enable-hardware-acceleration;
	/*background-image: url(../images/slider_adjusters_plus_minus.png);*/
	background-size: 80px 30px;
	background-position: center -3px;
	background-repeat: no-repeat;
	position: absolute;
	left: -60px;
	width: 150px;
	height: 30px;

	/* Media based*/
	top: -47px;
	.adjuster-help-hand {
		@include enable-hardware-acceleration;
		background-image: url(../images/slider_adjusters_help_hand.png);
		background-size: 75px 27px;
		background-repeat: no-repeat;
		position: relative;
		top: 5px;
		width: 50px;
		height: 30px;
	}
	.adjuster-auto-slide {
		@include enable-hardware-acceleration;
		-webkit-animation:autoSlideSwing 3s infinite;
		-moz-animation:autoSlideSwing 3s infinite;
	}
	.adjuster-only-left {
		@include enable-hardware-acceleration;
		-webkit-animation:autoSlideLeft 2.5s infinite;
		-moz-animation:autoSlideLeft 2.5s infinite;
		left: -15px;
	}
	.adjuster-only-right {
		@include enable-hardware-acceleration;
		-webkit-animation:autoSlideRight 2.5s infinite;
		-moz-animation:autoSlideRight 2.5s infinite;
		left: 105px;
	}
}

.slider-color-filler {
	@include enable-hardware-acceleration;
	background-color: #3CC7DE;
	height: 100%;
	width : 0px;
	border-radius: 8px;
}

.slider-stops-container {
	@include enable-hardware-acceleration;
	position: relative;
	/* Media based*/
	left: -12px;
	top: -16px;
	height: 24px;
	.slider-stops {
		@include enable-hardware-acceleration;
		background-image: url(../images/slider_stops.png);
		background-repeat: no-repeat;
		position: absolute;
		/* Media based*/
		background-size: 24px;
		width: 24px;
		height: 24px;
		&.active {
			background-image: url(../images/slider_stops_active.png);
		}
		&.stop-dashes {
			background-image: url(../images/slider_stops_dashes.png);
			&.active {
				background-image: url(../images/slider_stops_dashes_active.png);
			}
			&.first-stop, &.last-stop {
				/* Media based*/
				background-size: 24px 30px;
				margin-top: -5px;
				height: 30px;
			}
			&.first-stop {
				/* Media based*/
				margin-left: 6px;
			}
			&.last-stop {
				/* Media based*/
				margin-left: -6px;
			}
		}
		&.first-stop, &.last-stop {
			/* Styles for the first and last stops in likert to be added here*/
		}
	}
	.slider-labels {
		color:#7F7F7F;
		font-size: 0.8em;
		text-align: center;
		position: absolute;
		bottom: 30px;		
		display: none;
		&.first-label, &.last-label, &.middle-label.show-always {
			top: 30px;			
			display: block;
		}
		&.active {
			color:#3CC7DE;
			font-size: 0.9em;
			display: block;
		}
		.slider-label-positioner {
			/* based on the width of the slider stops the labels are adjusted*/
			text-overflow: ellipsis;
			/*white-space: nowrap;*/
			overflow: hidden;
			position: relative;
			width: 100%;			
			/* Media based*/
			left: 12px;
		}
	}
}

.slider-min-max-container {
	position: relative;
	display: none;
	/* Media based*/
	left: -12px;
	.slider-min-label, .slider-max-label {
		color: #7F7F7F;
		font-size: 0.8em;
		text-align: center;
		position: absolute;
		width: 50px;
		/* Media based*/
		margin-left: -13px;
	}
	.slider-min-label {
		left: 0%;
	}
	.slider-max-label {
		left: 100%;
	}
}

@media only screen and (max-device-width: 768px) {
 .slider-path {
 	top: 15px;
	height: 5px;
	border-radius: 5px;
	&.likert-with-label {
		.adjuster-help {
			top: -35px;
		}
	}
 }
 .slider-handle {
 	top: -12px;
 }
 .slider-value-indicator {
 	top: -38px;
 }
 .adjuster-help {
	top: -40px;
 }
 .slider-stops-container {
 	left: -8px;
	top: -11px;
	height: 16px;
	.slider-stops {
		background-size: 16px;
		width: 16px;
		height: 16px;
		&.stop-dashes {
			&.first-stop, &.last-stop {
				background-size: 24px 28px;
				margin-top: -8px;
				height: 28px;
			}
			&.first-stop {
				margin-left: 2px;
			}
			&.last-stop {
				margin-left: -8px;
			}
		}
	}
	.slider-labels {
		.slider-label-positioner {
			left: 8px;
		}
	}
 }
 .slider-min-max-container {
 	left: -8px;
	.slider-min-label, .slider-max-label {
		margin-left: -17px;
	}
 }
}